
// Fonts
@font-face {
  font-family: 'Monaco';
  src: url(resources/fonts/monaco.ttf) format('truetype')
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


.fm {
  font-family: Monaco, monospace;
}